---

import "../styles/cardCharacter.css";

export interface Props {
    id_Character: number; 
    name_Character: string;
    age_Character: number;
    id_libro_Original: number; 
    saga_inicial: string;
}

const { name_Character, saga_inicial} = Astro.props;
const baseImageUrl = "/assets/characters"; 
const imageUrl = `${baseImageUrl}/character_${name_Character}.jpg`; 
---

<div class="card">
  <img src={imageUrl} alt={name_Character} class="card-img" />
  <div class="container">
    <h4><b>{name_Character}</b></h4>
    <p>{saga_inicial}</p>
  </div>
</div>
