---
import "@styles/sectionContext.css";

import type { Character } from "@lib/utils/fetchCharacterId";
import SectionDesc from "@components/SectionDesc.astro";

interface Props {
  character: Character;
}

const { character } = Astro.props;
console.log(character.name_Character);
console.log("MistBornType: ", character.mistBornType);

// Imagen

const baseImageUrl = "/assets/characters";
const imageUrl = `${baseImageUrl}/character_${character.name_Character}.jpg`;
const destUrl = `/characters/${character.id_Character.toString()}`;

// Extraer una lista de los libros relacionados con el personaje, y pasarlos por parametro
---

<div id="containerSection">
  <section>
    <div id="contImg">
      <img src={imageUrl} alt={character.name_Character} class="card-img" />
    </div>
    <div id="contDesc">
      <div class="contentAll">
        <SectionDesc
          key={[
            "Nombre",
            "Fecha de Nacimiento",
            "Fecha de Muerte",
            "Titulos",
            "ID Libro Original |e",
            "Saga",
            "MistBornType",
            "Rol Society",
            "Capacidades",
            "Orden Radiante",
            "Spren",
            "Nivel Juramento Radiante",
          ]}
          value={[
            character.name_Character,
            character.fechaNacimiento,
            character.fechaMuerte,
            character.titulos,
            character.id_libro_original,
            character.saga,
            character.mistBornType,
            character.rolSociety,
            character.capacidades,
            character.radiantOrder,
            character.bondedSpren,
            character.stormlightLevel,
          ]}
          id_Character={character.id_Character}
        />
      </div>
      <div>
        <SectionDesc
          key={["Libros Relacionados"]}
          value={[null]}
          id_Character={character.id_Character}
        />
      </div>
    </div>
  </section>
</div>
