---
import "@styles/sectionContext.css";

import type { Character } from "@lib/utils/fetchCharacterId";
import SectionDesc from "@components/SectionDesc.astro";

interface Props {
  character: Character;
}

const { character } = Astro.props;
console.log(character.name_Character);
console.log("MistBornType: ", character.mistBornType);

// Imagen

const baseImageUrl = "/assets/characters"; 
const imageUrl = `${baseImageUrl}/character_${character.name_Character}.jpg`;
const destUrl = `/characters/${character.id_Character.toString()}`;

---

<section>
  <div id="contImg">
    <img src={imageUrl} alt={character.name_Character} class="card-img" />
  </div>
  <div id="contDesc">
    <div class="contentAll">
      <SectionDesc
        key={["Nombre", "Fecha de Muerte", "Fecha de Nacimiento", "Spren", "MistBorn Type"]}
        value={[character.name_Character, character.fechaMuerte, character.fechaNacimiento, character.bondedSpren, character.mistBornType]}
      />
    </div>
    <div class="contentAll">
      <SectionDesc
        key={["Nombre"]}
        value={[character.name_Character]}
      />
    </div>
  </div>
  
</section>
